{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8 blog-main">
        {% for article in object_list %}
        <div class="blog-post">
            <h2 class="blog-post-title"><a href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a></h2>
            {% if request.user.is_superuser%}
                <p class="blog-post-meta"><a href="{% url 'article_update' pk=article.pk %}">Редактировать</a></p>
            {% endif %}
            <p>{{ article.text|safe }}</p>
        </div>
        <hr>
        {% endfor %}
    </div>
{% endblock %}