{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col d-md-none d-lg-block">
        {% include 'sidebar.html' %}
    </div>
    <div class="col-9 blog-main">

        <div class="container">
            <form method="get" action="{% url 'search' %}">
                <div class="input-group mb-3">
                    <input type="search" class="form-control" id="text" placeholder="Поиск">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Поиск</button>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                        data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseExample">
                        Фильтры
                    </button>
                </div>

                </p>
                <div class="collapse" id="collapseFilter">
                    <div class="card card-body">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="separate">
                            <label class="form-check-label" for="separate">Поиск каждого слова отдельно</label>
                        </div>
                        {% for field in filter.form %}
                        <div class="form-group">
                            {% if field.label != "Текст статьи" %} {{ field.label_tag }} {{ field }} {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
        <hr>

        {% include 'articles/articles.html' %}
    </div>
</div>


{% endblock %}