{% extends "base.html" %}
{% load add_css_class %}

{% block content %}
<div class="row">
    <div class="col d-md-none d-lg-block">
        {% include 'sidebar.html' %}
    </div>
    <div class="col-9">
            <form method="get" action="{% url 'search' %}">
                <div class="input-group mb-3">
                    <input type="search" class="form-control" id="text" name="text" placeholder="Поиск">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Поиск</button>
                    </div>
                </div>


                <div class="form-row align-items-center">
                    <div class="form-group col-md-4">
                        <label for="{{ filter.form.author.id_for_label }}">Автор</label>
                        {{ filter.form.author|addclass:"form-control" }}
                    </div>

                    <div class="form-group col-md-4">
                        <label for="{{ filter.form.read_time.label }}">Время чтения</label>
                        {{ filter.form.read_time|addclass:"form-control" }}
                    </div>

                    <div class="col-auto">
                        <div class="form-check mb-2">
                            {{ filter.form.separate|addclass:"form-check-input" }}
                            <label class="form-check-label" for="{{ filter.form.separate.id_for_label }}">Искать
                                отдельно каждое слово</label>
                        </div>
                    </div>

                </div>
            </form>

        {% include 'articles/articles.html' %}

    </div>
</div>


{% endblock %}