{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col d-md-none d-lg-block">
        {% include 'sidebar.html' with current_node=object %}
    </div>

    <div class="col-9 blog-main">
        {% if not object.is_category %}
            {% if not object.is_published %}
                <p class="text-danger">Статья проходит модерацию</p>
            {% endif %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ object.title }}</h2>
            <p class="blog-post-meta">{{ object.created|date }} <a href="#">Автор:
                {% if object.author.get_full_name %}{{ object.author.get_full_name }}
                {% else %}{{ objec.author }}
                {% endif %}
            </a></p>
            <p class="blog-post-meta">Время чтения: {{ object.get_full_read_time }} </p>
            <p>{{ object.text|safe }}</p>
            {% if request.user == object.author or request.user.is_personal %}
                <a href="{% url 'article_update' pk=object.pk %}">
                    <button type="button" class="btn btn-primary">Редактировать</button>
                </a>
            {% endif %}
        </div>
            {% else %}
                {% for child in object.get_children %}
                    <p><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></p>
                {% empty %}
                    Публикаций пока нет.
                {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-6 text-left">
                {% if object.get_previous_sibling %}
                    <a href="{{ object.get_previous_sibling.get_absolute_url }}"><-- {{ object.get_previous_sibling.title }}</a>
                {% endif %}
            </div>
            <div class="col-6 text-right">
                {% if object.get_next_sibling %}
                    <a href="{{ object.get_next_sibling.get_absolute_url }}">{{ object.get_next_sibling.title }} --></a>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}