{% extends "base.html" %}
{% load add_css_class %}

{% block content %}
<div class="row">
    <div class="col d-md-none d-lg-block">
        {% include 'sidebar.html' %}
    </div>
    <div class="col-9">
            <form method="get" action="{% url 'search' %}">
                <div class="input-group mb-3">
                    {{ filter.form.text|addclass:"form-control" }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Поиск</button>
                    </div>
                </div>


                <div class="form-row align-items-center">
                    <div class="form-group col-md-4">
                        {{ filter.form.author|addsuffix:"" }}
                        {{ filter.form.author|addclass:"form-control" }}
                    </div>

                    <div class="form-group col-md-4">
                        {{ filter.form.read_time|addsuffix:"" }}
                        {{ filter.form.read_time|addclass:"form-control" }}
                    </div>

                    <div class="col-auto">
                        <div class="form-check mb-2">
                            {{ filter.form.separate|addclass:"form-check-input" }}
                            {{ filter.form.separate|addsuffix:"" }}
                        </div>
                    </div>

                </div>
            </form>

        {% include 'articles/articles.html' %}

    </div>
</div>


{% endblock %}