{% extends 'base.html' %}
{% load read_time %}


{% block content %}
    <div class="col-md-8 blog-main">
        {% if object.text %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ object.title }}</h2>
            <p class="blog-post-meta">{{ object.created|date }} <a href="#">Автор: {{ object.author }}</a></p>
            <p class="blog-post-meta">Время чтения: {{ object.text|readtime }} </p>
            {% if request.user.is_superuser%}
                <p class="blog-post-meta"><a href="{% url 'article_update' pk=object.pk %}">Редактировать</a></p>
            {% endif %}
            <p>{{ object.text|safe }}</p>
        </div>
            {% else %}
                {% for child in object.get_children %}
                    <a href="{{ child.get_absolute_url }}">{{ child.title }}</a>
                {% empty %}
                    Здесь пока пусто.
                {% endfor %}
        {% endif %}
    </div>
{% endblock %}