{% load mptt_tags %}

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home_page' %}">Mathcrib</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
             {% recursetree category_tree %}
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ node.title }}
                        </a>
                    {% if not node.is_leaf_node %}
                        {% drilldown_tree_for_node node as child %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for child in node.get_children %}
                                <a class="dropdown-item" href="{{ child.get_absolute_url }}">{{ child.title }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
        <form action="{% url 'search' %}" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" id="q" name="q" required>
        </form>
        <ul class="navbar-nav">
            {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Войти</a>
                </li>

            {% endif %}
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article_create' %}">Добавить статью</a>
                </li>
                {% if request.user.is_personal %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'control_panel' %}">Управление</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>