<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home_page' %}">Mathcrib</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            SPACE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for category in categories %}
                                <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                </li>
        </ul>
        {% if request.path != '/articles/search/' %}
            <form action="{% url 'search' %}" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" id="text" name="text" required>
            </form>
        {% endif %}
        <ul class="navbar-nav">
            {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'join' %}">Стать автором</a>
                </li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article_create' %}">Добавить статью</a>
                </li>
                {% if request.user.is_personal %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Управление</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'article_panel' %}">Статьи</a>
                            {% if request.user.is_administration %}
                                <a class="dropdown-item" href="{% url 'invitations' %}">Приглашения</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Пользователь: {{ request.user }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'profile' pk=request.user.pk %}">Профиль</a>
                      <a class="dropdown-item" href="{% url 'memo' %}">Рекомендации</a>
                      <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>