{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Присоединиться к нам</h1>
            <p>Открывая постепенно новые темы ты хочешь делиться удивительными открытиями со всеми или чувствуешь, что ты в какой-то теме эксперт?</p>
            <p>Мы будем очень рады вашему участию в проекте &ndash; не стесняйтесь публиковать статьи и предлагать новые темы для обсуждений, по всем вопросам пишите Мише в телеграм -&nbsp;
                <a href="https://t.me/mikepaf" rel="noopener noreferrer" target="_blank">@mikepaf</a>
                &nbsp;(он познакомит вас со всем и расскажет что делать дальше, а также пришлёт инвайт)</p>
            <p>Если мы забыли о чём-то рассказать или вы не нашли ответа на свой вопрос&nbsp;-&nbsp;напишите Насте в тг&nbsp;
                <a href="https://t.me/aaaaaaaaaaashu" rel="noopener noreferrer" target="_blank">@aaaaaaaaaaashu</a>
            </p>
        </div>
    </div>
{% endblock %}