{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Рекомендации для авторов</h1>
            <p><strong>Один текст - одна тема</strong></p>
            <p>Попробуйте одним предложением ответить на вопрос &laquo;О чем моя статья?&raquo; Получилось? Вы на верном пути: знаете, о чем хотите написать, не будете лить воду и сворачивать с темы.</p>
            <p><strong>План - это вещь</strong></p>
            <p>Если вы смогли составить ясный и логичный план статьи, то и текст у вас получится таким же.</p>
            <p><strong>Заголовок? Дайте два!</strong></p>
            <p>Придумайте несколько названий для статьи. Дайте редактору возможность выбрать лучшее.</p>
            <p><strong>Самая суть</strong></p>
            <p>Напишите аннотацию - кратчайшее изложение статьи, три-шесть предложений. Так статья скорее найдет своего читателя.</p>
            <p><strong>Начинай с начала</strong></p>
            <p>Поступайте так, если не знаете, с чего начать свой текст. Напишите в первом абзаце предысторию вопроса или обозначьте суть проблемы.</p>
            <p><strong>Три вместо одного</strong></p>
            <p>Если вы не можете прочитать предложение на одном дыхании (буквально), стоит его разделить на два-три предложения. Или просто сократить.</p>
            <p><strong>Осторожнее с терминами</strong></p>
            <p>Посмотрите на свой текст глазами читателя. Дайте определения тем терминам, на которых может запнуться новичок в математике.</p>
            <p><strong>Ссылка - наше все</strong></p>
            <p>Плагиат и копипаст - это плохо, очень плохо. Творческое заимствование со ссылкой на первоисточник - очень хорошо.</p>
            <p><strong>Визуализируй это</strong></p>
            <p>Картинки творят чудеса с текстами, особенно с длинными и сложными. Вместо тысячи слов - одна иллюстрация.</p>
            <p><strong>Будь готов</strong></p>
            <p>Статью могут вернуть на доработку. И это хороший признак. Значит, статья годная, нужно только подшлифовать.</p>
        </div>
    </div>
{% endblock %}